body {
  background-color: #533a71;
}

.navbar {
  width: 100%;
}

.navtxtprimary {
  color: #95b2b8;
  font-size: 4vh;
}

.navtxtsecondary {
  color: #e83151;
  font-size: 4vh;
}

.navtxtadults {
  color: #258ea6;
  font-size: 4vh;
}
.cont {
  height: 80vh;
  color: black;
  background-color: transparent;
}
.article {
  width: 60%;
  height: 100%;
}

.primary {
  background-color: #ffe2fe;
}

.navprimary {
  background-color: #392f5a;
}

.secondary {
  background-color: #d2cca1;
}

.navsecondary {
  background-color: #387780;
}

.adults {
  background-color: #a1e8af;
}

.navadults {
  background-color: #393424;
}
.reccontainer {
  width: 97%;
  height: 33%;
}
.reccontainer:hover {
  background-color: #d1abd0;
  box-shadow: black solid 1rem 1rem;
}

.articletxt {
  font-size: 1.8vw;
  height: 40%;
}

.currentTitle {
  all: unset;
  max-height: 2vh;
}

.titleCont {
  max-height: 10%;
}
.extras {
  margin: auto;
}
.articletxt::-webkit-scrollbar {
  display: none;
}
.titleCont::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 50%;
  height: auto;
}

.dropbtnprimary {
  background-color: transparent;
  color: #95b2b8;
  border: none;
  cursor: pointer;
}

.dropbtnsecondary {
  background-color: transparent;
  color: #e83151;
  border: none;
  cursor: pointer;
}
.dropbtnadults {
  background-color: transparent;
  color: #258ea6;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-contentsecondary {
  display: none;
  position: absolute;
  background-color: #387780;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentsecondary a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentsecondary a:hover {
  background-color: #287770;
}

.dropdown:hover .dropdown-contentsecondary {
  display: block;
}

.dropdown:hover .dropbtnsecondary {
  color: #a83141;
}

.dropdown-contentprimary {
  display: none;
  position: absolute;
  background-color: #392f5a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentprimary a {
  color: #95b2b8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentprimary a:hover {
  background-color: #433a61;
}

.dropdown:hover .dropdown-contentprimary {
  display: block;
}

.dropdown:hover .dropbtnprimary {
  color: #748c91;
}

.dropdown-contentadults {
  display: none;
  position: absolute;
  background-color: #393424;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentadults a {
  color: #258ea6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentadults a:hover {
  background-color: #293424;
}

.dropdown:hover .dropdown-contentadults {
  display: block;
}

.dropdown:hover .dropbtnadults {
  color: #0f5475;
}
.navbar {
  max-height: 5%;
}

.navcon {
  margin-right: 33%;
  margin-left: 1%;
}
